html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

html,
body {
    height: 100%;
    margin: 0;
    line-height: 1.5;
    color: #121212;
}
textarea,
input,
button {
    font-size: 1rem;
    font-family: inherit;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 0.75rem;
    box-shadow:
        0 0px 1px hsla(0, 0%, 0%, 0.2),
        0 1px 2px hsla(0, 0%, 0%, 0.2);
    background-color: white;
    line-height: 1.5;
    margin: 0;
}
button {
    color: #3992ff;
    font-weight: 500;
}

textarea:hover,
input:hover {
    box-shadow:
        0 0px 1px hsla(0, 0%, 0%, 0.6),
        0 1px 2px hsla(0, 0%, 0%, 0.2);
}

button:hover {
    box-shadow:
        0 0px 1px hsla(0, 0%, 0%, 0.6),
        0 1px 2px hsla(0, 0%, 0%, 0.2);
    background-color: blue;
    color: white;
}

/* Hover styles for the delete button */
button#delete-btn:hover {
    background-color: red;
    color: white;
}

button#update-btn:hover {
    background-color: green;
    color: white;
}

button:active {
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
    transform: translateY(1px);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

#root {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

#sidebar {
    width: 22rem;
    background-color: #f7f7f7;
    border-right: solid 1px #e3e3e3;
    display: flex;
    flex-direction: column;
}

#sidebar > * {
    padding-left: 2rem;
    padding-right: 2rem;
}

#sidebar h1 {
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 1rem 2rem;
    border-top: 1px solid #e3e3e3;
    order: 1;
    line-height: 1;
}

#sidebar h1::before {
    content: "";
    background: url("./assets/embeviz.svg") no-repeat;
    width: 25px;
    height: 18px;
    background-size: contain;
    margin-right: 0.5rem;
    position: relative;
    top: 1px;
}

#sidebar > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e3e3e3;
}

#sidebar > div form {
    position: relative;
}

#sidebar > div form input[type="search"] {
    width: 100%;
    padding-left: 2rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='%23999' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 0.625rem 0.75rem;
    background-size: 1rem;
    position: relative;
}

#sidebar > div form input[type="search"].loading {
    background-image: none;
}

#search-spinner {
    width: 1rem;
    height: 1rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23000' strokeLinecap='round' strokeLinejoin='round' strokeWidth='2' d='M20 4v5h-.582m0 0a8.001 8.001 0 00-15.356 2m15.356-2H15M4 20v-5h.581m0 0a8.003 8.003 0 0015.357-2M4.581 15H9' /%3E%3C/svg%3E");
    animation: spin 1s infinite linear;
    position: absolute;
    left: 0.625rem;
    top: 0.75rem;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#sidebar nav {
    flex: 1;
    overflow: auto;
    padding-top: 1rem;
}

#sidebar nav a span {
    float: right;
    color: #eeb004;
}
#sidebar nav a.active span {
    color: inherit;
}

i {
    color: #818181;
}
#sidebar nav .active i {
    color: inherit;
}

#sidebar ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#sidebar li {
    margin: 0.25rem 0;
}

#sidebar nav a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

    white-space: pre;
    padding: 0.5rem;
    border-radius: 8px;
    color: inherit;
    text-decoration: none;
    gap: 1rem;
}

#sidebar nav a:hover {
    background: #e3e3e3;
}

#sidebar nav a.active {
    background: hsl(224, 98%, 58%);
    color: white;
}

#sidebar nav a.pending {
    color: hsl(224, 98%, 58%);
}

#detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 4rem;
    width: 100%;
    height: 100%;
}

#detail.loading {
    opacity: 0.25;
    transition: opacity 200ms;
    transition-delay: 200ms;
}

#embed {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    max-width: 40rem;
}

#embed h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    line-height: 1.2;
}

#embed h1:focus {
    outline: none;
    color: hsl(224, 98%, 58%);
}

#embed-form {
    display: flex;
    gap: 2rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

#embed-options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#embed-form-text-options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#embed h1 + p {
    margin: 0;
}

#embed h1 + p + p {
    white-space: break-spaces;
}

#charts {
    display: flex;
    gap: 2rem;
    margin-bottom: 20px;
}

#index-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#zero-state {
    margin: 2rem auto;
    text-align: center;
    color: #818181;
    position: relative;
}

#zero-state:before {
    content: "";
    background: url("./assets/embeviz.svg") no-repeat;
    width: 50px;
    height: 50px;
    background-size: contain;
    margin: 0 auto 0.5rem;
    display: block;
}

#error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#embed-buttons {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 2rem;
    width: 100%;
}

input[type="radio"] {
    box-shadow: none;
}
